@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'prism.css';

@layer base {
  * {
    @apply box-border;
  }
  h1 {
    @apply text-4xl font-bold tracking-tight md:text-5xl lg:text-6xl;
  }
  h2 {
    @apply text-3xl font-bold tracking-tight md:text-4xl lg:text-5xl;
  }
  h3 {
    @apply text-3xl font-bold tracking-tight lg:text-4xl;
  }
  h4 {
    @apply text-2xl font-bold md:text-3xl;
  }
  h5 {
    @apply text-xl font-bold md:text-2xl;
  }
  h6 {
    @apply text-lg font-bold md:text-xl;
  }
  p {
    @apply text-base md:text-lg;
  }
  small,
  small * {
    @apply text-sm font-medium md:text-base;
  }
  :is(h1, h2, h3, h4, h5, h6) {
    & > em {
      @apply text-gradient-500 not-italic;
    }
    & > span {
      color: var(--tw-prose-counters);
    }
  }
}

@layer utilities {
  .text-gradient-500 {
    @apply bg-gradient-to-br from-alpha to-beta bg-clip-text text-transparent;
  }
  .bg-gradient-omega-900 {
    @apply bg-gradient-to-r from-omega-900 to-omega-800;
  }
  .with-back-plate {
    @apply relative mb-2 -translate-x-2 md:mb-2 md:-translate-x-2;
    &::before {
      @apply absolute right-0 bottom-0 h-full w-full translate-y-2 translate-x-2 bg-white md:translate-y-2 md:translate-x-2;
      content: '';
      z-index: -1;
    }
  }
}


/* ICONS */
.icon-w-30 {
  width: 30px !important;
}

/* HOME */
.animate-typewriter {
  padding: 0.25rem;
  /* border: solid 1px white; */
  
}
@media screen and (max-width: 768px) {
  #__next > div > div.relative.w-full.max-w-screen-xl > main > div > div > div.items-center.text-center.md\:flex.md\:text-left > div.z-10.mt-6.basis-full.md\:m-0 > div.md\:transition-all.md\:duration-1000.md\:mr-52.prose.prose-invert.prose-headings\:my-4.first-of-type\:prose-headings\:mt-0.prose-p\:hidden.md\:prose-headings\:my-6.md\:prose-p\:block > p {
    display: block !important;
    font-size: 0.9rem;
    font-style: italic;
  }

}
  


/*CTA-SECTION*/

.cta-container  {
}

.cta-container a:first-child {
  /* @apply mt-6; */
}


/* ABOUT  */

#__next > div > div.relative.w-full.max-w-screen-xl > main > div > div > div.prose.prose-invert.md\:flex > div.w-full > div.md\:transition-all.md\:duration-1000.prose.p-6.dark\:prose-invert.md\:p-12 {
  @apply bg-gradient-omega-900;
}
.card-logo {
  filter:grayscale(100%);
  margin-right: 0.5rem;
}

.card-logo:hover {
  filter:grayscale(0%);
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .card-logo {
    filter:grayscale(0%);
  }
  
}





#card-logo-container {
  /* background-color: lightblue; */
  height: 3rem;
  display: flex;
  justify-content: start;
  align-items: center;
}

/*HPLG x BZN*/
#hplg, #bzn {
  height: 1.9rem;
  width: auto;
}



/*SQUARED LOGO*/
#mda, #ocr, #rnr {
/* border: solid 1px red; */
height: 2.1rem;
width: auto;
aspect-ratio: 1/1;
}

#mda {
  height: 2.6rem; 
  width: auto;
} 

/*SCRIMBA LOGO*/
#smb {
   height: 1.85rem;
   width: auto;
}

/*RENNER*/
#rnr {
  height: 2.2rem;
  width: auto;
}




#__next > div > div.relative.w-full.max-w-screen-xl > main > div > div > div.items-center.text-center.md\:flex.md\:text-left > div.inline-block.shrink-0.md\:order-2.md\:-ml-40 > div.md\:hidden > div  {
  /* border: solid 1px red; */
  width: 14rem;
  height: 14rem;
  aspect-ratio: 1/1;
}

/*Pictos*/
/* MDA */
/* #__next > div > div.relative.w-full.max-w-screen-xl > main > div > div > div.prose.flex-wrap.justify-between.bg-white.p-6.md\:flex > div:nth-child(1) > div.mt-6.flex.flex-col.md\:mt-12 > div:nth-child(5) > div.card-line-1.inline-flex.items-center.justify-between > div.card-logo-container.flex.gap-2.justify-start.items-center > a:nth-child(1) > img {
  width: 3.25rem;
  height: 3.25rem;
  aspect-ratio: 1/1;
}

#__next > div > div.relative.w-full.max-w-screen-xl > main > div > div > div.prose.flex-wrap.justify-between.bg-white.p-6.md\:flex > div:nth-child(2) > div.mt-6.flex.flex-col.md\:mt-12 > div:nth-child(3) > div.card-line-1.inline-flex.items-center.justify-between > div.card-logo-container.flex.gap-2.justify-start.items-center > a:nth-child(1) > img {
  width: 2.15rem;
  height: 2.15rem;
}

#__next > div > div.relative.w-full.max-w-screen-xl > main > div > div > div.prose.flex-wrap.justify-between.bg-white.p-6.md\:flex > div:nth-child(2) > div.mt-6.flex.flex-col.md\:mt-12 > div:nth-child(5) > div.card-line-1.inline-flex.items-center.justify-between > div.card-logo-container.flex.gap-2.justify-start.items-center > a:nth-child(1) > img {
  border: solide    1px    black; 
  width: 2.25rem;
  height: 2.25rem;
} */









/* PORTFOLIO */

/* CONTACTS */



